@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-color: #000000;
    overflow: hidden;
}

.background-img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
  -webkit-touch-callout: none;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.489);
    position: fixed;
}
.menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.489);
    position: fixed;
    height: 16rem;
    z-index: 999;
}
.left-head-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20%;
    left: 38px;
    gap: 14px;
}
.side-small-btn-menu-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: none;
    padding: 16px;
    background-color: #ffffff69;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.side-small-btn-menu-head:hover {
    background-color: #ffffffe7;
}
.side-small-btn-menu-head:active {
    transform: scale(1.1);
}

.right-head-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.bold-head-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 112px;
    color: white;
}

.left-head {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: absolute;
    left: 38px;
}
#back-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding-right: 8px;
    filter: invert(100);
}
#back-menu:hover {
    cursor: pointer;
}
#back-menu:active {
    filter: invert(100);
    transform: scale(0.90);
}
.left-head h1{
    font-size: 50px;
    color: white;
}
.left-head h1:hover{
    cursor: pointer;
}
.right-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

#pointsSpan {
    letter-spacing: 1.8px;
    transition: color 0.4s ease;
    position: absolute;
    right: 72px;
}
.cookie-indicator {
    width: 30px;
    height: 30px;
    object-fit: cover;
    filter: invert(1);
    position: absolute;
    right: 38px;
}

.bold-head {
    color: white;
    font-weight: bold;
}


main {
    padding-top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#main-content-blocking {
    filter: blur(5px);
    pointer-events: none;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4%;
    border-radius: 20px;
    background-color: #ffffff6b;
    box-shadow: 3px 3px 5px black;
}
.bottom-cont {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.cont-buttons {
    border: none;
    margin: 8px;
    font-size: 13px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 18px;
    background-color: #b6b6b6;
    box-shadow: 3px 3px 8px black;
    transition: box-shadow 0.3s ease;
}
.cont-buttons:hover {
    box-shadow: 6px 8px 8px black;
}
.cont-buttons:active {
    box-shadow: inset 3px 3px 8px black;
}

.aside-bar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 24px;
    right: 42px;
}

.cookie-parent {
    width: 40%;
    height: 35%;
    animation: spiiin 18s linear infinite;
}
.main-cookie{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.1s ease;
    object-fit: cover;
    -webkit-tap-highlight-color: transparent;
    border-radius: 50%;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
}
.main-cookie:hover {
    cursor: pointer;
}
.main-cookie:active {
    transform: scale(1.1);
}

.hor-flex {
    display: flex;
    flex-direction: row;
}
.flex-ver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-titles {
    font-size: 36px;
    font-weight: bolder;
    color: rgb(255, 255, 255);  
}

.infos {
    font-size: 21px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

footer{
    font-size: 14px;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer a{
    color: #358dff;
}

.popup {
    width: 18rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    right: 45%;
    top: 40vh;
    padding: 20px;
    border-radius: 18px;
    background-color: white;
    box-shadow: 3px 3px 5px black;
}
.popup b{
    font-size: 16px;
    padding: 6px;
}
.popup button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 19px;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 18px;
    margin: 8px;
    box-shadow: 3px 3px 6px black;
    transition: transform 0.2s linear;
}
.popup button:hover {
    cursor: pointer;
}
.popup button:active {
    transform: scale(1.03);
}

.content {
    width: 100%;
    height: 100%;
}

.side-small-btn {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

#effectMouse {
    display: none;
    position: absolute;
    pointer-events: none;
    z-index: 99;
    animation: spiiin 4s linear infiinite;
}
#effectMouse img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@keyframes spiiin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

@media (max-width: 1136px) {
    .aside-bar {
        flex-direction: row;
        position: fixed;
        right: auto;
        top: auto;
        bottom: 22px;   
    }
}
@media (max-width: 865px) {
    .left-head h1 {
        display: none;
    }
}
@media (max-width: 768px) {
    .menu-header {
        flex-direction: column;
        height: 20rem;
    }
    .left-head-menu {
        width: 80%;
    }
    .bold-head-menu {
        position: fixed;
        top: 18rem;
    }
    .right-head {
        font-size: 34px;
        margin-left: 12px;
    }
    .popup {
        left: 15%;
        right: 15%;
        top: 20%;
    }
    main {
        flex-direction: column;
    }
    .cookie-parent {
        width: 40%;
        height: 55%;
    }
    .aside-bar {
        flex-direction: column;
        position: fixed;
        right: auto;
        top: auto;
        bottom: 45px;
    }
    .infos {
        font-size: 23px;
    }
}
@media (max-width: 540px) {
    .right-head {
        font-size: 26px;
        margin-left: 14px;
    }
    .cookie-parent {
        width: 60%;
        height: 60%;
    }
    .infos {
        font-size: 16px;
    }
    footer {
        font-size: 12px;
    }
}