@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-color: #001757;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    padding: 10px;
    background-color: black;
    position: fixed;
}

.left-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left-head img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    filter: invert(100);
}
.left-head img:hover {
    cursor: pointer;
}
.left-head img:hover:active {
    filter: invert(100);
    transform: scale(0.90);
}
.left-head h1{
    font-size: 50px;
    color: white;
}
.left-head h1:hover{
    cursor: pointer;
}
.right-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

#pointsSpan {
    margin-left: 15px;
    letter-spacing: 1.8px;
}

.bold-head {
    color: white;
    font-weight: bold;
}


main {
    padding-top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffff;
}
.bottom-cont {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.aside-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 24px;
    right: 24px;
}

.cookie-parent {
    width: 40%;
    height: 35%;
    animation: spiiin 18s linear infinite;
}
.main-cookie{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.1s ease;
    object-fit: cover;
    -webkit-tap-highlight-color: transparent;
}
.main-cookie:hover {
    cursor: pointer;
}
.main-cookie:active {
    transform: scale(1.1);
}

.cont .flex-ver button{
    margin: 8px;
    font-size: 16px;
    padding: 10px;
}

.hor-flex {
    display: flex;
    flex-direction: row;
}
.flex-ver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos {
    font-size: 21px;
    font-weight: bolder;
    color: rgb(53, 53, 53);
}

footer{
    font-size: 14px;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer a{
    color: #358dff;
}

.popup {
    width: 18rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 40%;
    right: 45%;
    top: 40vh;
    padding: 20px;
    border-radius: 18px;
    background-color: white;
    box-shadow: 3px 3px 5px black;
}
.popup b{
    font-size: 16px;
    padding: 6px;
}
.popup button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 19px;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 18px;
    margin: 8px;
    box-shadow: 3px 3px 6px black;
    transition: transform 0.2s linear;
}
.popup button:hover {
    cursor: pointer;
}
.popup button:active {
    transform: scale(1.03);
}

.content {
    width: 100%;
    height: 100%;
    filter: opacity(0);
    pointer-events: none;
}

.side-small-btn {
    margin-right: 10px;
    filter: invert(100);
    width: 40px;
    height: 40px;
}

#effectMouse {
    display: none;
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    background-color: #ffffff3a;
    z-index: 99;
    animation: spiiin 4s linear infiinite;
}
#effectMouse img{
    width: 6px;
    height: 6px;
}

@keyframes spiiin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

@media (max-width: 1136px) {
    .aside-bar {
        flex-direction: row;
        position: fixed;
        right: auto;
        top: auto;
        bottom: 22px;   
    }
}
@media (max-width: 865px) {
    .left-head h1 {
        display: none;
    }
}
@media (max-width: 768px) {
    .right-head {
        font-size: 34px;
        margin-left: 12px;
    }
    .popup {
        left: 15%;
        right: 15%;
        top: 20%;
    }
    main {
        flex-direction: column;
    }
    .cookie-parent {
        width: 40%;
        height: 55%;
    }
    .aside-bar {
        flex-direction: column;
        position: fixed;
        right: auto;
        top: auto;
        bottom: 45px;
    }
    .infos {
        font-size: 23px;
    }
}
@media (max-width: 540px) {
    .right-head {
        font-size: 26px;
        margin-left: 14px;
    }
    .cookie-parent {
        width: 60%;
        height: 60%;
    }
    .infos {
        font-size: 16px;
    }
    footer {
        font-size: 12px;
    }
}