@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #000d30;
    overflow: hidden;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    background-color: #ffffff;
}

.cont h1{
    font-size: 50px;
}

.cont img{
    width: 300px;
    height: 300px;
}

.cont button{
    margin: 8px;
    font-size: 18px;
    padding: 14px;
    background-color: #2e2e2e;
    color: white;
    border: none;
    border-radius: 13px;
    box-shadow: 2px 2px 6px black;
    transition: box-shadow 0.3s ease;
}
.cont button:hover{
    box-shadow: 4px 4px 6px black;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer a{
    color: #358dff;
}