@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
html {
    background-color: #006b8b;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}
.background-img {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
  text-decoration: none;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-img-config{
    filter: invert(1);
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    padding: 1%;
    border-radius: 20px;
    width: 45%;
    background-color: #ffffffb5;
}

#alert-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.cookie-parent {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    animation: spiiin 40s linear infinite;
}
.cookie{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.2s ease;
}
.cookie:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.cookie:active {
    transform: scale(1.1);
}

.flex-hor {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.flex-hor-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.flex-col{
    display:  flex;
    flex-direction: column;
}
.fill-width {
    width: 100%;
}
.space-between-bottom {
    margin-bottom: 24px;
}

.cont button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px;
    font-size: 18px;
    padding: 14px;
    height: 70px;
    background-color: #2e2e2e;
    color: white;
    border: none;
    border-radius: 13px;
    box-shadow: 2px 2px 6px black;
    transition: transform 0.3s ease, background-color 0.3s linear;
}
.cont button:hover{
    cursor: pointer;
}
.cont button:active {
    background-color: #808080;
    transform: scale(1.1);
}

.last-session-info {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer a{
    color: #358dff;
}

.side-small-btn {
    margin-right: 10px;
    filter: invert(100);
    width: 40px;
    height: 40px;
}

.input-layout-big {
    border: none;
    padding: 12px;
    border-radius: 18px;
    font-size: 18px;
    font-weight: bolder;
}
.username-notice {
    font-weight: bold;
    font-size: 11px;
    width: 60%;
}

@keyframes spiiin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

@media (max-width: 1280px) {
    .cont {
        left: 20%;
        right: 20%;
        width: 59%;
    }
}

@media (max-width: 925px) {
    .cont {
        left: 10%;
        right: 10%;
        width: 60%;
    }
    #alert-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 28px;
    }
    .cookie-parent {
        width: 100px;
        height: 100px;
    }
    .flex-hor {
        flex-direction: column;
    }
    .flex-hor button {
        font-size: 32px;
        padding: 18px;
    }
}
@media (max-width: 560px) {
    #alert-title {
        font-size: 22px;
    }
    .cont {
        left: 5%;
        right: 5%;
        width: 80%;
    }
}