@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000d30;
    overflow: hidden;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    width: 50%;
    background-color: #ffffffb5;
}

#alert-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 80%;
}

.cookie-parent {
    animation: spiiin 40s linear infinite;
}
.cookie{
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.2s ease;
}
.cookie:hover {
    transform: scale(1.02);
}
.cookie:active {
    transform: scale(1.1);
}

.flex-hor {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.cont button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px;
    font-size: 18px;
    padding: 14px;
    background-color: #2e2e2e;
    color: white;
    border: none;
    border-radius: 13px;
    box-shadow: 2px 2px 6px black;
    transition: transform 0.3s ease, background-color 0.3s linear;
}
.cont button:hover{
    cursor: pointer;
}
.cont button:active {
    background-color: #808080;
    transform: scale(1.1);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer a{
    color: #358dff;
}

.side-small-btn {
    margin-right: 10px;
    filter: invert(100);
    width: 40px;
    height: 40px;
}

@keyframes spiiin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

@media (max-width: 768px) {
    .cont {
        width: 80%;
    }
    #alert-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 28px;
    }
    .cookie {
        width: 40%;
        height: 40%;
    }
    .flex-hor {
        flex-direction: column;
    }
    .flex-hor button {
        font-size: 32px;
        padding: 18px;
    }
}
@media (max-width: 384px) {
    .cont {
        width: 100%;
        height: 100%;
    }
}